[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
python-dotenv = "*"
autopep8 = "*"

[packages]
flask-jsonpify = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
gunicorn = "*"
flask = "*"

[requires]
python_version = "3.7"
